.nav {
    background-color: rgba(20, 2, 135, 0.9);
    padding: 20px 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
img {
    width: 50px;
    height: 50px;
    object-fit: cover;
 }
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 40px;
    bottom: 30px;
    z-index: 1;
    animation: notificationanimation 2s ease-in-out infinite;
}

@keyframes notificationanimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px) rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

@keyframes appearbtnAnimation {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav__btn {
    animation: appearbtnAnimation 0.3s ease-in-out forwards;
    transform: translateY(50px);
    opacity: 0;
}

.nav__btn:nth-child(2) {
    animation-delay: 0.1s;
}

.nav__btn:nth-child(3) {
    animation-delay: 0.2s;
}

.nav__btn:last-child {
    animation-delay: 0.3s;
}

.nav__btn:nth-child(2) img {
     position: relative;
 }

.nav__dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 50px;
    bottom:50px;
}
.cog i {
    position: relative;
}
.cog__dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 15px;
    top: 50px;

}